Anthony <anthony>
Florian Forster <octo>
Florian Forster <octo@dev4.office.noris.de>
Luboš Staněk <kolektor@atlas.cz>
Luboš Staněk <lubek@users.sourceforge.net>
Niki W. Waibel <niki>
Sebastian Harl <tokkee>
Rodolphe Quiedeville <rquiedeville@bearstech.com>

