# Travis CI configuration file
# https://travis-ci.org/collectd/collectd
language: c

env:
  global:
    - MAKEFLAGS="-j 2"
    # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
    # via the "travis encrypt" command using the project repo's public key
    - secure: "ZdWWp0XX3C4sLIp4lqeQTWC7vt+GsWjmyRiD17T9833NBAW4dddz310I6iyeXe6oX09ZFFiVIN4ogx9ANcNBx9jriGXI2/82nBhpxOJBebet8JCNS5VeTr4rDSfQOKP+Oc+ko5KbbghTuAtO2CFYiH3jZUcn4TdsYbVanf+TwUs="

matrix:
  include:
    - os: osx
      osx_image: xcode11.2
      compiler: clang
      jdk: openjdk10
      env:
        - CXX=clang++
        - PATH="/usr/local/opt/mysql-client/bin:$PATH"
        - JAVA_HOME="/Library/Java/JavaVirtualMachines/openjdk-13.jdk/Contents/Home"
    - os: linux
      dist: bionic
      compiler: clang
      jdk: openjdk10
    - os: linux
      dist: bionic
      compiler: gcc
      jdk: openjdk10

before_install:
  # When building the coverity_scan branch, allow only the first job to continue to avoid travis-ci/travis-ci#1975.
  - if [[ "${TRAVIS_BRANCH}" == "coverity_scan" && ! "${TRAVIS_JOB_NUMBER}" =~ \.1$ ]]; then exit 0; fi

before_script: autoreconf -vif

script:
  - if [[ "${TRAVIS_BRANCH}" == "coverity_scan" ]]; then exit 0; fi
  - type pkg-config
  - pkg-config --list-all | sort -u
  - ./configure
    --disable-aggregation
    --disable-amqp
    --disable-amqp1
    --disable-barometer
    --disable-check_uptime
    --disable-csv
    --disable-curl_xml
    --disable-gmond
    --disable-java
    --disable-lua
    --disable-match_empty_counter
    --disable-match_hashed
    --disable-match_regex
    --disable-match_timediff
    --disable-match_value
    --disable-modbus
    --disable-mqtt
    --disable-network
    --disable-openldap
    --disable-perl
    --disable-postgresql
    --disable-python
    --disable-redis
    --disable-rrdcached
    --disable-rrdtool
    --disable-snmp
    --disable-snmp_agent
    --disable-statsd
    --disable-target_notification
    --disable-target_replace
    --disable-target_scale
    --disable-target_set
    --disable-target_v5upgrade
    --disable-threshold
    --disable-write_graphite
    --disable-write_influxdb_udp
    --disable-write_kafka
    --disable-write_mongodb
    --disable-write_prometheus
    --disable-write_redis
    --disable-write_riemann
    --disable-write_sensu
    --disable-write_syslog
    --disable-write_tsdb
    --enable-debug
    --disable-dependency-tracking
  - make -sk all
  - make -sk check
  #- make distcheck DISTCHECK_CONFIGURE_FLAGS="--disable-dependency-tracking --enable-debug"

addons:
  apt:
    packages:
    - autotools-dev
    - iptables-dev
    - libatasmart-dev
    - libcap-dev
    - libcurl4-gnutls-dev
    - libdbi0-dev
    - libesmtp-dev
    - libganglia1-dev
    - libgcrypt11-dev
    - libglib2.0-dev
    - libgps-dev
    - libhiredis-dev
    - libi2c-dev
    - libldap2-dev
    - libltdl-dev
    - liblua50-dev
    - liblua5.1-0-dev
    - liblua5.2-dev
    - libmemcached-dev
    - libmicrohttpd-dev
    - libmnl-dev
    - libmodbus-dev
    - libmosquitto-dev
    - libmysqlclient-dev
    - libnotify-dev
    - libopenipmi-dev
    - liboping-dev
    - libow-dev
    - libpcap-dev
    - libperl-dev
    - libpq-dev
    - libprotobuf-c0-dev
    - librabbitmq-dev
    - librdkafka-dev
    - libriemann-client-dev
    - librrd-dev
    - libsensors4-dev
    - libsigrok-dev
    - libsnmp-dev
    - libtokyocabinet-dev
    - libtokyotyrant-dev
    - libudev-dev
    - libupsclient-dev
    - libvarnish-dev
    - libvirt-dev
    - libxen-dev
    - libxml2-dev
    - libyajl-dev
    - linux-libc-dev
    - perl
    - protobuf-c-compiler
    - python3-dev
    - python-dev
    - xfslibs-dev
  coverity_scan:
    project:
      name: "collectd/collectd"
      description: "Build submitted via Travis CI"
    notification_email: collectd-changes@verplant.org
    build_command_prepend: "./configure; make clean"
    build_command: "make -j $(nproc)"
    branch_pattern: coverity_scan
  homebrew:
    packages:
    - curl
    - glib
    - hiredis
    - libdbi
    - libmemcached
    - libmicrohttpd
    - libmodbus
    - libnotify
    - liboping
    - libpcap
    - librdkafka
    - libvirt
    - libxml2
    - lua
    - mongo-c-driver
    - mosquitto
    - mysql-client
    - net-snmp
    - openldap
    - perl
    - protobuf
    - protobuf-c
    - python
    - qpid-proton
    - rabbitmq-c
    - riemann-client
    - rrdtool
    - tokyo-cabinet
    - varnish
    - yajl

git:
  quiet: true
  submodules: false
  depth: 1
