sudo: required
dist: trusty
compiler:
  - gcc
  - clang
language: c
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq --no-install-recommends
      iptables-dev
      libatasmart-dev
      libcap-dev
      libcurl4-gnutls-dev
      libdbi0-dev
      libesmtp-dev
      libganglia1-dev
      libgcrypt11-dev
      libglib2.0-dev
      libgps-dev
      libhiredis-dev
      libi2c-dev
      libldap2-dev
      libltdl-dev
      liblua5.2-dev
      liblvm2-dev
      libmemcached-dev
      libmicrohttpd-dev
      libmnl-dev
      libmodbus-dev
      libmosquitto0-dev
      libmysqlclient-dev
      libnotify-dev
      libopenipmi-dev
      liboping-dev
      libow-dev
      libpcap-dev
      libperl-dev
      libpq-dev
      libprotobuf-c0-dev
      librabbitmq-dev
      librdkafka-dev
      librrd-dev
      libsensors4-dev
      libsigrok-dev
      libsnmp-dev
      libstatgrab-dev
      libtokyocabinet-dev
      libtokyotyrant-dev
      libudev-dev
      libupsclient-dev
      libvarnish-dev
      libvirt-dev
      libxml2-dev
      libyajl-dev
      linux-libc-dev
      perl
      protobuf-c-compiler
      python-dev
script: sh build.sh && ./configure && make distcheck
