Source: collectd
Section: utils
Priority: optional
Maintainer: Sebastian Harl <sh@tokkee.org>
Build-Depends: debhelper (>= 5), autotools-dev, libcurl3-dev,
 libmysqlclient15-dev | libmysqlclient14-dev, librrd2-dev | librrd0-dev,
 libsensors-dev, liboping-dev (> 0.3.3)
Standards-Version: 3.7.2

Package: collectd
Architecture: any
Depends: ${shlibs:Depends}
Suggests: collectd-apache, collectd-mysql, collectd-sensors, collectd-dev,
 collectd-hddtemp, collectd-ping, librrds-perl
Description: statistics collection daemon
 collectd is a small daemon written in C for performance. It reads various
 system statistics and updates RRD files, creating them if necessary. Since
 the daemon doesn't need to startup every time it wants to update the files
 it's very fast and easy on the system. Also, the statistics are very fine
 grained since the files are updated every 10 seconds.
 .
 This package contains the main program file and the following plugins:
   * APC UPS's charge, load, input/output/battery voltage, etc.: apcups
   * Apple computer's sensors information: apple_sensors (server mode only)
   * battery status: battery
   * CPU utilization: cpu
   * CPU frequency: cpufreq
   * disk space usage: df
   * disk and partition throughput: disk
   * system load averages: load
   * memory usage: memory
   * NFS utilization: nfs
   * NTP daemon's local clock drift, offset to peers, etc.: ntpd
   * number of processes: processes
   * serial port traffic: serial
   * swap usage: swap
   * tape drive usage: tape (server mode only)
   * network traffic: traffic
   * number of users logged into the system: users
   * system ressources used by Linux-VServers: vserver
   * wireless network stats: wireless

Package: collectd-dbg
Section: devel
Architecture: any
Priority: extra
Depends: collectd (= ${Source-Version}), collectd-apache (= ${Source-Version}),
 collectd-hddtemp (= ${Source-Version}), collectd-mysql (= ${Source-Version}),
 collectd-ping (= ${Source-Version}), collectd-sensors (= ${Source-Version})
Description: statistics collection daemon (debugging symbols)
 collectd is a small daemon written in C for performance. It reads various
 system statistics and updates RRD files, creating them if necessary. Since
 the daemon doesn't need to startup every time it wants to update the files
 it's very fast and easy on the system. Also, the statistics are very fine
 grained since the files are updated every 10 seconds.
 .
 This package contains the debugging symbols.

Package: collectd-apache
Architecture: any
Depends: collectd (= ${Source-Version}), ${shlibs:Depends}
Description: statistics collection daemon (Apache plugin)
 collectd is a small daemon written in C for performance. It reads various
 system statistics and updates RRD files, creating them if necessary. Since
 the daemon doesn't need to startup every time it wants to update the files
 it's very fast and easy on the system. Also, the statistics are very fine
 grained since the files are updated every 10 seconds.
 .
 This package contains the Apache plugin which collects Apache statistics
 provided by Apache's mod_status.

Package: collectd-hddtemp
Architecture: any
Depends: collectd (= ${Source-Version}), ${shlibs:Depends}
Recommends: hddtemp
Description: statistics collection daemon (hddtemp plugin)
 collectd is a small daemon written in C for performance. It reads various
 system statistics and updates RRD files, creating them if necessary. Since
 the daemon doesn't need to startup every time it wants to update the files
 it's very fast and easy on the system. Also, the statistics are very fine
 grained since the files are updated every 10 seconds.
 .
 This package contains the hddtemp plugin which collects harddisk temperatures.

Package: collectd-mysql
Architecture: any
Depends: collectd (= ${Source-Version}), ${shlibs:Depends}
Description: statistics collection daemon (MySQL plugin)
 collectd is a small daemon written in C for performance. It reads various
 system statistics and updates RRD files, creating them if necessary. Since
 the daemon doesn't need to startup every time it wants to update the files
 it's very fast and easy on the system. Also, the statistics are very fine
 grained since the files are updated every 10 seconds.
 .
 This package contains the MySQL plugin which collects MySQL statistics
 provided by MySQL's "show status" command.

Package: collectd-ping
Architecture: any
Depends: collectd (= ${Source-Version}), ${shlibs:Depends}
Description: statistics collection daemon (ping plugin)
 collectd is a small daemon written in C for performance. It reads various
 system statistics and updates RRD files, creating them if necessary. Since
 the daemon doesn't need to startup every time it wants to update the files
 it's very fast and easy on the system. Also, the statistics are very fine
 grained since the files are updated every 10 seconds.
 .
 This package contains the ping plugin which collects network latency
 statistics.

Package: collectd-sensors
Architecture: any
Depends: collectd (= ${Source-Version}), ${shlibs:Depends}
Description: statistics collection daemon (sensors plugin)
 collectd is a small daemon written in C for performance. It reads various
 system statistics and updates RRD files, creating them if necessary. Since
 the daemon doesn't need to startup every time it wants to update the files
 it's very fast and easy on the system. Also, the statistics are very fine
 grained since the files are updated every 10 seconds.
 .
 This package contains the sensors plugin which collects lm_sensors
 information (e.g. CPU temperature, fan speeds).

Package: collectd-dev
Architecture: all
Depends: collectd (= ${Source-Version})
Description: statistics collection daemon (development files)
 collectd is a small daemon written in C for performance. It reads various
 system statistics and updates RRD files, creating them if necessary. Since
 the daemon doesn't need to startup every time it wants to update the files
 it's very fast and easy on the system. Also, the statistics are very fine
 grained since the files are updated every 10 seconds.
 .
 This package contains the development files needed to create your own
 plugins.

